@keyframes oscillate {
    from {
        transform: translateY(var(--billow));
    }

    to {
        transform: translateY(calc(var(--billow) * -1));
    }
}

.flag {
    display: flex;
    aspect-ratio: 3 / 2;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* 800ms duration gives it that heavier fabric feel */
    animation: oscillate 800ms alternate infinite ease-in-out both;
}

    .column:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .column:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

.waving-flag-animation {
    transform-origin: left center;
    animation: wave 2s ease-in-out infinite alternate;
}

@keyframes wave {
    0% {
        transform: perspective(400px) rotateY(0deg) translateY(0px);
    }

    100% {
        transform: perspective(400px) rotateY(15deg) translateY(-5px);
    }
}